<div class="view">
  <input class="toggle" type="checkbox" {{#if completed }}checked {{/if}}>
  <label>{{ description }}</label>
  <button class="destroy"></button>
</div>
<input class="edit" value="{{ description }}">